<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Funcionario</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      charset="utf-8"
    />
<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
/>
<!-- <link rel="stylesheet" th:href="@{/css/styles.css}"> -->
</head>


  <body>
       <nav
       class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-sm-around"
       >
      <h1 class="navbar-brand">Cadastrar Funcionarios</h1>
      <ul class="navbar-nav">
      <li class="nav-item active">
          
        </li>
        </ul>
        </nav>
        <main>
        <div class="container mt-4">
        <div class="row">
        <div
            class="col-md-6 col-sm-6 container justify-content-center border">
            <h4>Insira seus dados a seguir para efetuar o cadastro:</h4>
            <form th:action="@{/funcionarios}" th:object="${funcionario}" method="POST" id="formFuncionario">
            <div class="form-row">
            <div class="form-group">
            <label>Nome:</label>
                <br>
                <input type="text" placeholder="Digite o nome" 
                th:value="${funcionario.firstname}" name="firstname" required/>
                </div>
                <label>Sobrenome:</label>
                <br>
                <input type="text" placeholder="Digite o sobrenome" 
                th:value="${funcionario.lastname}" name="lastname" required/>
                </div>
                <br>

                
           

                    <div class="form-group">
                    <label>Projeto:</label>
                    <select th:field="${funcionario.projeto}" required>
                    <option value="">Escolha o projeto</option>
                    <option th:each="projeto : ${projetos}"
                    th:value="${projeto.id}"
                    th:text="${projeto.nome}">
                    </option>
                    </select>
                    </div>
                    <br>
                    <br>


              
            <input type="submit" value="Salvar" />
            <input type="reset"  value="Limpar" />
            <br>
            </form>
            <br><br>

            </div>
            </div>
            </div>
            </main>
            <footer class="bg-dark text-center text-lg-start">
            <div class="text-center p-3">
            <p>©Desenvolvido por Aluno</p>
            </div>
            </footer>

<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
></script>

<br>
<br>
<table>
        <tr>
            <th>| Inscrição |</th>
            <th>Primeiro Nome |</th>
            <th>Segundo Nome |</th>
            <th>Projeto |</th>
            <th>Remover |</th>
            <th>Editar |</th>
        </tr>
       
        <tr th:each="funcionario : ${inscricao}">
            <td th:text="${funcionario.inscricao}"></td>
            <td th:text="${funcionario.inscricao}"></td>
            <td th:text="${funcionario.inscricao?.nome}"></td>
            <td> <a th:href="@{'/removerFuncionario?inscricao=' + ${funcionario.inscricao}}">Remover</a></td>
            <td> <a th:href="@{'/editarFuncionario?inscricao=' + ${funcionario.inscricao}}">Editar</a></td>
        </tr>
</table>
</body>
</html>