<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes Projeto</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Detalhes Projeto</h1>
    <a href="/">Menu</a>
    <a href="/projetos">Projetos</a>
    <br>
    <br>
    <b>Id Projeto: </b> <span th:text="${projeto.id}"></span>
    <br><b>Nome: </b> <span th:text="${projeto.nome}"></span>
    <br><b>Tempo de Duração: </b> <span th:text="${projeto.tempoDuracao}"></span>
    <br>
    <br>
    Funcionarios:
    <table>
        <tr>
            <th>Inscrição</th>
            <th>Nome</th>
            <th>Projeto</th>
        </tr>
       
        <tr th:each="funcionario : ${projeto.funcionario}">
            <td th:text="${funcionario.inscricao}"></td>
            <td th:text="${funcionario.nome}"></td>
            <td th:text="${funcionario.projeto?.nome}"></td>
        </tr>
    </table>
    <br>
    Clientes:
    <table>
        <tr>
            <th>Inscrição</th>
            <th>Nome</th>
        </tr>
       
        <tr th:each="cliente : ${servico.cliente}">
            <td th:text="${cliente.inscricao}"></td>
            <td th:text="${cliente.nome}"></td>
        </tr>
    </table>
</body>
</html>